<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="meetings" appConnect="local" components="{dmxBootstrap5Modal:{}}" -->
<div class="modal" id="modal_new_meeting" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Create new Meeting</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fw-bold">You will automatically made the host of the meeting</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/admin/meetings">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Meetings</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="btn1" class="btn w-100 btn-primary" data-bs-toggle="modal" data-bs-target="#modal_new_meeting">New Meeting</button>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>