<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="meetingdiary" appConnect="local" components="{dmxCalendar:{}}" -->
<meta name="ac:route" content="/admin/meetingdiary">
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center text-primary fw-lighter">לקבוע מפגש</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <dmx-calendar id="calendar1" views="dayGridMonth,dayGridWeek,dayGridDay" constraint="" hide-non-current-dates="true" no-event-overlap="true" no-fixed-week-count="true" selectable="true" editable="true" now-indicator="true" locale="he" aspect-ratio="2.05">
                <dmx-calendar-source id="source1" color="#f26c6c" background-color="#d19292" border-color="#f03636" text-color="#426bcc" editable="true">
                    <dmx-calendar-event id="event1" title="My Event" start="2023-08-19T11:00" end="2023-08-19T12:00" class="Tuesday We"></dmx-calendar-event>
                </dmx-calendar-source>
            </dmx-calendar>
        </div>
        <div class="col-3"></div>
    </div>
</div>