<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="meetingdiary" appConnect="local" -->
<meta name="ac:route" content="/admin/meetingdiary">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Diary</h1>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>