<!doctype html>
<html dir="rtl" lang="he">

<head>
    <base href="/">
    <script src="/dmxAppConnect/dmxAppConnect.js"></script>
    <meta charset="UTF-8">
    <title>Untitled Document</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
    <script src="/dmxAppConnect/dmxBootstrap5Collapse/dmxBootstrap5Collapse.js" defer></script>
    <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
    <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
    <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
    <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-lite.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-lite.min.js" defer></script>
    <script src="/dmxAppConnect/dmxSummernote/dmxSummernote.js" defer></script>

    <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
</head>

<body is="dmx-app" id="main" title="Online Psychiatry">
    <dmx-serverconnect id="conn_who_am_i" url="/api/register/who_am_i"></dmx-serverconnect>
    <div is="dmx-view" id="content">
        <header class="gy-sm-0 gx-sm-0">
            <div class="row gx-sm-0 gy-sm-0 g-0 shadow-none rounded-0 border-white justify-content-between">
                <div class="col-3 me-4 gx-sm-0 gy-sm-0 text-end">
                    <img src="/assets/images/themainlogo.jpg" class="img-fluid img-thumbnail">
                </div>
                <div class="col gx-sm-0 gy-sm-0 text-center rounded-0 shadow-none">
                    <img src="/assets/images/MIB_reduced.png" class="img-fluid img-thumbnail gx-sm-0 gy-sm-0 flex-grow-1 align-self-end">
                </div>
                <div class="col-3 gx-sm-0 gy-sm-0 text-start">
                    <img src="/assets/images/themainlogo1.jpg" class="img-fluid img-thumbnail ms-3 me-0 gx-sm-0 gy-sm-0">
                </div>
            </div>
            <div class="row">
                <div class="col-3 d-none d-md-block"></div>
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">מפרט&nbsp;</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar1_collapse">
                                <div class="navbar-nav">
                                    <a class="nav-item nav-link active" href="#">בית</a>
                                    <a class="nav-item nav-link" href="/bnh">בראיות הנפש</a>
                                    <a class="nav-item nav-link" href="/mycbtexplanation">הסבר לטיפול&nbsp;</a>
                                    <a class="nav-item nav-link" href="/DIYCBT">דף טיפול&nbsp;</a>
                                    <a class="nav-item nav-link" href="#">תוצאות</a>
                                    <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbar1_dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" wappler-command="editContent">
                                            Dropdown
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbar1_dropdown">
                                            <a class="dropdown-item" href="#">SMI</a>
                                            <a class="dropdown-item" href="#">לקבוע פגישה </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">סמינטאר</a>
                                        </div>
                                    </div>
                                    <a class="nav-item nav-link disabled" href="#">Disabled</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-3 d-none d-md-block"></div>
            </div>
        </header>
        <%- await include(content, locals); %>
            <footer>
                <div class="container">
                    <div class="row justify-content-between align-items-center row-cols-sm-1 g-0 align-items-sm-center justify-content-sm-between" dir="rtl">
                        <div class="col-3 align-self-center gx-sm-0 gy-sm-0 col-sm-3 order-sm-1">
                            <p class="fw-lighter text-primary text-start text-sm-start"><a href="https://www.amazon.com/Book-David-Manifesto-Revolution-Healthcare/dp/1629671630" target="_blank">The Book Of David</a></p>
                        </div>
                        <div class="gy-sm-0 gx-sm-0 me-3 col-sm-4 order-sm-2">
                            <p class="text-center text-primary fw-lighter text-sm-center">ד"ר מיכאל בנימין&nbsp; &nbsp;2023</p>
                        </div>
                        <div class="col-3 gx-sm-0 gy-sm-0 ms-0 align-self-sm-start text-sm-end col-sm-3">

                            <i class="far fa-copyright fa-3x"></i>
                        </div>
                    </div>
                </div>
            </footer>
    </div>
    <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>