<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" appconnect="local" components="{dmxBootstrap5Collapse:{}}" dir="rtl" title="Basic Mental Health" dmx-bind:title="'BNH'" -->
<meta name="ac:route" content="/bnh">
<div class="row text-end fw-lighter text-xl-center justify-content-xl-between row-cols-xl-1">
    <div class="col-xl-2 col-xxl-2"></div>
    <div class="text-end col-md-auto text-xl-center text-md-center col-lg-11 col-md-12 text-xxl-justify col-xl-8 col-xxl-8">
        <img class="card-img-top img-fluid img-thumbnail align-self-sm-center flex-sm-grow-1 flex-sm-shrink-1 d-none d-md-inline rounded-0 shadow-none w-50 h-50" alt="Card image cap" src="/assets/images/homepage.jpg">
        <h3 class="fw-lighter text-center text-primary"><b>חמישה עמודים הכרחיים של בראיות&nbsp; &nbsp;הנפש תקין</b></h3>
        <p class="card-text fw-lighter text-primary" dir="rtl">

        <div class="card text-md-center text-xl-end">
            <div class="card-body text-xl-end text-xxl-end text-end text-primary" dir="rtl">

                <ul dir="rtl" rtl>
                    <li dir="rtl">חוק הראשון&nbsp;<br>לא חשוב מה תמיד תחזור להתנהגות שהייתה&nbsp;<br>תהנו ולמחרת תמשיכו&nbsp;<br></li>
                    <li dir="rtl">חוק השני&nbsp;<br>אין בראיות ללא לנהל עורך חיים בראים&nbsp;</li>
                </ul>
                <br><br>
                </p>

            </div>


        </div>
    </div>
    <div class="col-xl-2 col-xxl-2"></div>
</div>
<div class="row text-xl-center">
    <div class="col-xl-2 col-xxl-2"></div>
    <div class="text-end border-0 col-xl-9 col-xxl-8">

        <h4 class="text-center text-primary fw-lighter"><b>הנחיות לנהל עורך חיים תקין ובריאה</b></h4>
        <div class="accordion" id="accordion1">
            <div class="card text-xxl-end text-primary">
                <div class="card-header" id="accordion1_headingOne">
                    <h5 class="mb-0 display-1" title="שינה הכונה">
                        <button id="accordion1_collapseOne_Btn" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseOne" aria-expanded="true" aria-controls="collapseOne">שינה תקינה&nbsp;</button>
                    </h5>
                </div>
                <div id="accordion1_collapseOne" class="collapse text-end text-xxl-end" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingOne" data-bs-parent="#accordion1">
                    <div class="container me-xl-5 ps-xl-1 pe-xl-0 me-sm-5 text-xl-center text-end">
                        <div class="row text-end">
                            <div class="col-xl text-xl-center text-end col-xl-12">
                                <div class="row"></div>

                                <div class="row">
                                    <div class="col col-xxl"></div>
                                    <div class="col col-xxl-4"></div>
                                </div>
                            </div>
                        </div><img src="/assets/images/SLEEP.jpg" class="ms-xxl-3 me-xxl-4 img-fluid img-thumbnail flex-grow-1 flex-shrink-1 d-none d-md-inline ms-xl-0 me-xl-0 ps-xl-0 h-100 w-100">

                    </div>
                    <div class="card-body shadow-none">
                        <ul dir="rtl">
                            <li>
                                לפני שינה להתעמן כעשר דקות-בעוצמה שאתה מושם לא בצורה מוגזמת
                            </li>
                            <li>
                                שום מסך או מקןר אור בחדר
                            </li>

                            <li>
                                ללכת לישון באותה שעה
                            </li>

                        </ul>



                        <B>חשיבה כנהר</B>
                        אפשר להסתכל מהצד על הגדר או לקפוץ בפנים <BR>
                        <i> עלינו להסתכל ולמיין ותו לא</i><br>
                        <ul dir="rtl">

                            <li>
                                "לציין חשיבה תקינה כ"חשיבה רדיגילה </li>
                            <li>
                                "לציין חשיבה כמו אדווה כ"חשיבה שיהתית </li>

                        </ul>


                        <i> תהליך זה יחזור מאט פעמים --לא לבהל </i>




                        <BR>
                        <B>לחזור פעמים מאטים ותרדמו</B><br>



                    </div>
                </div>

            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingTwo">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseTwo_Btn" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseTwo" aria-expanded="false" aria-controls="collapseTwo">אכילה תקינה ומשקל תקין</button>
                    </h5>
                </div>
                <div id="accordion1_collapseTwo" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingTwo" data-bs-parent="#accordion1">
                    <div class="container text-xl-center"><img src="/assets/images/eating.jpg" class="img-fluid img-thumbnail rounded ms-3 me-3 align-self-sm-center ms-sm-auto me-sm-5 d-none d-md-inline w-50"></div>
                    <div class="card-body" dir="rtl">


                        <p dir="rtl">
                            האם ראית פעם שמן לאט אוכל?
                            <br>
                        <ul dir="rtl">
                            <li>לעס לאט.</li>
                            <li>תן לאוכל לרדת בגרון שלך.</li>
                            <li>שתה מים בין לבין.</li>
                            <li>ברגע שאתה מרגיש שבע, תפסיק לאכול - אתה לא חייב לסיים הכל בצלחת.</li>
                            <li>אכל מתי שאתה רעב.</li>
                        </ul>
                        <br>
                        תלמד לכייל מחדש ולעקוף את הטייס האוטומטי.
                        <br>
                        <ul dir="rtl">
                            <li>אתה לא צריך להימנע ממזונות שאתה נהנה מהם.</li>
                            <li>אתה יכול ליהנות מהרגעים שלך של חוסר משמעת. תעלה על הסוס ותתחיל מחדש - כולנו עושים את זה.</li>
                        </ul>
                        </p>







                    </div>
                </div>
            </div>
            <div class="card text-primary fw-lighter">
                <div class="card-header" id="accordion1_headingThree">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree">נהול הזמן&nbsp;</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="text-center container-fluid">

                        <img src="/assets/images/timeManage.jpg" class="img-fluid img-thumbnail d-none d-md-inline w-50">
                    </div>
                    <div class="card-body">
                        <p dir="rtl">

                            אף אחד לא יכול לייצר זמן. כולנו מתנהגים כאילו אנחנו Time Lords ואנחנו יכולים לסחוט זמן. כל מה שקורה זה שאנחנו יוצרים מתח ככל שאנחנו רצים נגד לוחות זמנים דמיוניים ובלתי אפשריים.

                            הפתרון הוא פשוט, והוא כרוך בשבירת הרגל הרגילה מאוד.

                        <ul dir="rtl">
                            <li>רשום את כל הפריטים שתעשו כדי להשלים את המשימה.</li>
                            <li>אל תחמיץ אף פריט, לא משנה כמה הוא קטן.</li>
                            <li>ליד כל פריט, העריך את הזמן שייקח.</li>
                            <li>לכל הערכה, הוסף עוד 10%.</li>
                            <li>לסכום, לאחר הוספת 10% לכל פריט, הוסף עוד 10%.</li>
                        </ul>

                        תמצאו שכנראה יהיה לכם זמן פנוי. הרבה פחות ממה שאתה חושב; עם זאת, תתחילו לזמן את עצמכם באופן אוטומטי בהתאם ולבסוף להפחית את רמת הלחץ באופן ניכר.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card text-primary fw-lighter">
                <div class="card-header" id="accordion1_headingThree1">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn1" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree1" aria-expanded="false" aria-controls="collapseThree">הרפייה</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree1" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="text-center d-none d-md-block w-auto container-fluid">
                        <img src="/assets/images/relaxed.jpg" class="img-fluid img-thumbnail d-none d-md-inline w-50">
                    </div>
                    <div class="card-body">
                        <ul dir="rtl">
                            <li>הרפיה (כהקדמה לפנטזיות מודרכות)</li>
                            <li>אתה תרכוש את הכישורים האלה לכמה ימים; הם כוללים הרפיה ופנטזיות מודרכות:</li>
                            <ul>
                                <li>לכל קבוצת שרירים:</li>
                                <ul>
                                    <li>כווץ את השריר תוך כדי ספירה עד שלוש.</li>
                                    <li>שמור על ההתכווצות תוך כדי ספירה עד שלוש.</li>
                                    <li>הרפה את השרירים תוך כדי ספירה עד שלוש.</li>
                                </ul>
                                <li>השתמש בקבוצות השרירים הבאות:</li>
                                <ul>
                                    <li>רגל ימין.</li>
                                    <li>רגל שמאל.</li>
                                    <li>בטן וחזה.</li>
                                    <li>חזה וגב.</li>
                                    <li>יד ימין ויד.</li>
                                    <li>יד שמאל ויד.</li>
                                    <li>צוואר ופנים.</li>
                                </ul>
                                <li>את כל הגוף יחד.</li>
                                <li>סגור את העיניים וסע בשלוש עשרה נשימות.</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card text-primary fw-lighter">
                <div class="card-header" id="accordion1_headingThree2">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn2" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree2" aria-expanded="false" aria-controls="collapseThree">הדמייה מודרכת&nbsp;</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree2" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="container-fluid text-center">
                        <img src="/assets/images/teachingimagination.jpg" class="d-none d-md-inline w-50">
                    </div>
                    <div class="card-body">
                        <p dir="rtl">הדמיות מודרכות הן כלי חיוני. זכרו שאנחנו משתמשים בדמיונות שלכם ואתם <i>בשום שלב לא מהופנטים</i>. בסופו של דבר, אתה יכול לזכור בבירור אירועים שאנו רוצים לבחון בפגישות הטיפול המקוונות.</p>
                        <ul dir="rtl">
                            <li>שלב ראשון:-</li>
                            <ul>
                                <li>שבו בכורסא נוחה בחדר שקט.</li>
                                <li>בצע את טכניקות ההרפיה המלאות.</li>
                                <li>עצום את עיניך ותאר לעצמך בלון קשור לזרוע ימין שלך.</li>
                                <li>דמיינו שהבלון מושך את היד כלפי מעלה; הניחו את היד והזרוע שלכם יעלה ל-90 מעלות מהגוף שלכם.</li>
                                <li>דמיינו שהבלון נעלם, וזרועך וידך נופלות בחזרה.</li>
                                <li>חזור על פעולה זו מספר פעמים.</li>
                            </ul>
                            <li>שלב שני:-</li>
                            <ul>
                                <li>חזור על שלב אחד.</li>
                                <li>דמיינו שאתם מסתכלים על עצמכם ועומד לידכם.</li>
                                <li>הדמינו שאתם נמצאים בחדר שקט.</li>
                                <li>הדמינו שאתם רואים את עצמכם עומדים לידכם.</li>
                                <li>הדמינו שאתם יכולים לראות את כל גופכם, מהראש ועד הבוהן.</li>
                                <li>הדמינו שאתם יכולים לראות את הבעות הפנים שלכם, את התנועות שלכם ואת הדרך בה אתם מתנהגים.</li>
                                <li>הדמינו שאתם יכולים לשמוע את הקול שלכם, את הדרך בה אתם מדברים ואת הדברים שאתם אומרים.</li>
                            </ul>
                            <li>שלב שלוש:-</li>
                            <ul>
                                <li>חזור על שלב שני.</li>
                                <li>דמיינו שאתם מסתכלים על עצמכם ממרחק הולך וגדל.</li>
                                <li>התהליך ילך ויהיה מורכב יותר, אך רמת ההרפיה שלכם ויכולתכם לשחזר אירועים קריטיים (אני אסביר זאת בהמשך) תהיה יעילה מאוד.</li>
                            </ul>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4 me-5">
                <a href="#" class="btn btn-primary">תשתתף בסמינאר&nbsp;</a>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-xxl-2"></div>
</div>