<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" appconnect="local" components="{dmxBootstrap5Collapse:{}}" dir="rtl" title="Basic Mental Health" dmx-bind:title="'BNH'" -->
<meta name="ac:route" content="/bnh">
<div class="row text-end fw-lighter">
    <div class="d-none d-md-block col-md-2 col-lg-3 col-xl-3 col-xxl-4"></div>
    <div class="text-end text-md-end col-md-auto">
        <div class="card">
            <img class="card-img-top img-fluid img-thumbnail" alt="Card image cap" src="/assets/images/Therapist.jpg">
            <div class="card-body">
                <h4 class="card-title">חוקי יסוד ומימניות בסיסות&nbsp;&nbsp;</h4>
                <p class="card-text fw-lighter">חוק הראשון&nbsp;<br>לא חשוב מה תמיד תחזור להתנהגות שהייתה&nbsp;<br>תהנו ולמחרת תמשיכו&nbsp;<br><br>חוק השני&nbsp;<br>אין בראיות ללא לנהל עורך חיים בראים&nbsp;<br><br></p>
                <a href="#" class="btn btn-primary">תקשיב ותשתתף בסמינאר</a>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block offset-md-4 col-md-2 col-lg-3 col-xl-3 col-xxl-4"></div>
</div>
<div class="row">
    <div class="d-none d-md-block col-md-2 col-lg-3 col-xxl-4"></div>
    <div class="col text-end">
        <div class="accordion" id="accordion1">
            <div class="card">
                <div class="card-header" id="accordion1_headingOne">
                    <h5 class="mb-0 display-1" title="שינה הכונה">
                        <button id="accordion1_collapseOne_Btn" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseOne" aria-expanded="true" aria-controls="collapseOne">שינה תקינה&nbsp;</button>
                    </h5>
                </div>
                <div id="accordion1_collapseOne" class="collapse" is="dmx-bs5-collapse" show="true" aria-labelledby="accordion1_headingOne" data-bs-parent="#accordion1">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingTwo">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseTwo_Btn" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseTwo" aria-expanded="false" aria-controls="collapseTwo">אכילה תקינה ומשקל תקין</button>
                    </h5>
                </div>
                <div id="accordion1_collapseTwo" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingTwo" data-bs-parent="#accordion1">
                    <div class="container"><img src="/assets/images/eating.jpg" class="img-fluid img-thumbnail rounded ms-3 me-3 align-self-sm-center ms-sm-auto me-sm-5"></div>
                    <div class="card-body">

                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingThree">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree">נהול הזמן&nbsp;</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingThree1">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn1" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree">הרפייה</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree1" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingThree2">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn2" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree">הדמייה מודרכת&nbsp;</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree2" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <a href="#" class="btn btn-primary">תשתתף בסמינאר&nbsp;</a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="d-none d-md-block col-md-3 text-md-center col-lg-3 col-xxl-4" title="בריאות הנפש"></div>
</div>