<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="COU" appconnect="local" dmx-bind:title="'COU'" -->
<meta name="ac:route" content="/cou">
<header class="container-fluid">
    <h1 class="display-4 text-primary fw-lighter text-center">תנאי שימוש</h1>
    <div class="container wappler-block pt-3 pb-3">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 text-primary fw-lighter" dir="rtl" lang="he" id="">תנאי שימוש
                <h4 class="text-center fw-light text-primary">
                    <font color="#6c757d"><span style="font-size: 19.6875px;">בבקשה לקרוא ולא לאשר לפני שימוש&nbsp;</span></font>
                </h4>
                <img class="wappler-type-picture w-100" src="/assets/images/tikkunOlam1.jpg">
                <p lang="he" dir="rtl" class="ms-0 me-0 ps-0 text-end">אין להשתמש באתר ללא לציין ולשוחח עם<b> ד"ר בנימין</b> אם-
                <ul dir="rtl">
                    <li><i>אושפת אושפזת פעם ביחידה לטיפול בבראיות הנפש&nbsp;</i></li>
                    <li><i>ביצעת נסיון אובדן&nbsp</i></li>
                    <li><i></i> הרגשת אי-פעם שרודפים אותך</li>
                    <li><i>שמעת קולות או ראית הזיות</i></li>
                    <li><i>סבלת משינויים קיצוניים במצב רוח עד כדי שהפיעו באופן בולט על איכות תפקודך</i></li>
                    <li><i>בהתקף זעם, גרמת נזק פיזי לאחר</i></li>

                </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 offset-2">
                <dmx-youtube-player id="ytplayer1" videoid="okkH_cMnF2A" videotitle="Test"></dmx-youtube-player>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</header>