<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="COU" appConnect="local" -->
<meta name="ac:route" content="/COU">
<header>
    <h1 class="display-4 text-primary fw-lighter text-center">תנאי שימוש</h1>
</header>