<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="COU" appConnect="local" -->
<meta name="ac:route" content="/cou">
<header>
    <h1 class="display-4 text-primary fw-lighter text-center">תנאי שימוש</h1>
    <div class="container wappler-block pt-3 pb-3">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h4 class="text-center fw-light text-primary">
                    <font color="#6c757d"><span style="font-size: 19.6875px;">בבקשה לקרוא ולא לאשר לפני שימוש&nbsp;</span></font>
                </h4>
                <img class="wappler-type-picture w-100" src="/assets/images/tikkunOlam1.jpg">
                <p lang="he" dir="rtl">אין להשתמש באתר ללא לציין ולשוחח עם ד"ר בנימין אם-<br>אושפת ביחידה לטיפול בבראיות הנפש&nbsp;<br>ביצעת נסיון אובדן&nbsp;<br>הרגשת שרודפים אותך&nbsp;<br>שמעת קולות או ראית הזיות&nbsp;<br>סבלת ממצב&nbsp; של מניה&nbsp;<br>היית עד כדי מדוכא שחדלת לתפקד&nbsp;<br>אבדת שליטה על עצמך ותקפת אחר&nbsp;<br><br><br></p>
            </div>
        </div>
    </div>
</header>