<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="DIYCBT" appConnect="local" components="{dmxSummernote:{}}" jquery_slim_35="cdn" -->
<meta name="ac:route" content="/DIYCBT">
<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <form id="form1">
            <div class="form-group md-3"> <label for="ci" class="form-label">Some text</label>
                <input type="text" class="form-control" id="ci" name="ci" aria-describedby="input1_help" placeholder="Enter some text">
                <small id="input1_help" class="form-text text-muted"><a href="/mycbtexplanation" target="_blank">הסבר מלאי</a></small>
            </div>
            <div class="form-group md-3"> <label for="cbt" class="form-label">Some text</label>
                <input type="text" class="form-control" id="cbt" name="cbt" aria-describedby="input1_help" placeholder="Enter some text">
                <small id="input1_help1" class="form-text text-muted">Your input is very valuable.</small>
            </div>
            <div class="form-group md-3"> <label for="relations" class="form-label">Some text</label>
                <input type="text" class="form-control" id="relations" name="relations" aria-describedby="input1_help" placeholder="Enter some text">
                <small id="input1_help2" class="form-text text-muted">Your input is very valuable.</small>
            </div>
            <div class="form-group md-3"> <label for="attention" class="form-label">Some text</label>
                <input type="text" class="form-control" id="attention" name="attention" aria-describedby="input1_help" placeholder="Enter some text">
                <small id="input1_help3" class="form-text text-muted">Your input is very valuable.</small>
            </div>
            <div class="form-group md-3"> <label for="feelings" class="form-label">Some text</label>
                <input type="text" class="form-control" id="feelings" name="feelings" aria-describedby="input1_help" placeholder="Enter some text">
                <small id="input1_help4" class="form-text text-muted">Your input is very valuable.</small>
            </div>
            <div class="form-group md-3"> <label for="existential" class="form-label">Some text</label>
                <input type="text" class="form-control" id="existential" name="existential" aria-describedby="input1_help" placeholder="Enter some text">
                <small id="input1_help5" class="form-text text-muted">Your input is very valuable.</small>
            </div>
            <div class="form-group md-3"> <label for="summation" class="form-label">Some text</label>
                <input type="text" class="form-control" id="summation" name="summation" aria-describedby="input1_help" placeholder="Enter some text">
                <small id="input1_help6" class="form-text text-muted">Your input is very valuable.</small>
            </div>
            <div class="form-group md-3 d-none visually-hidden">
                <input type="text" class="form-control" id="user_id" name="user_id" aria-describedby="input1_help" placeholder="Enter some text" dmx-bind:value="conn_who_am_i.data.identity">
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"><button id="btn1" class="btn btn-primary active btn-lg" type="submit">להכניס תגובה</button></div>
                <div class="col"></div>
            </div>

        </form>
    </div>
    <div class="col-3"></div>
</div>