<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="DIYCBT" appConnect="local" components="{dmxSummernote:{}}" jquery_slim_35="cdn" -->
<meta name="ac:route" content="/DIYCBT">
<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <form is="dmx-serverconnect-form" id="serverconnectform1" method="post" action="" dmx-generator="bootstrap5" dmx-form-type="vertical">
            <input id="CI" name="CI" type="text" class="form-control"><textarea id="editor1" name="editor1" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['insert',['link','picture','video']],['view',['fullscreen','codeview','help']]]"></textarea>

            <input id="cbt" name="cbt" type="text" class="form-control"><textarea id="editor2" name="editor2" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['insert',['link','picture','video']],['view',['fullscreen','codeview','help']]]"></textarea>

            <input id="behaviour" name="behaviour" type="text" class="form-control"><textarea id="editor3" name="editor3" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['insert',['link','picture','video']],['view',['fullscreen','codeview','help']]]"></textarea>

            <input id="relationshiptype" name="relationshiptype" type="text" class="form-control"><textarea id="editor4" name="editor4" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['insert',['link','picture','video']],['view',['fullscreen','codeview','help']]]"></textarea>

            <input id="attentionmode" name="attentionmode" type="text" class="form-control"><textarea id="editor5" name="editor5" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['insert',['link','picture','video']],['view',['fullscreen','codeview','help']]]"></textarea>

            <input id="emotions" name="emotions" type="text" class="form-control"><textarea id="editor6" name="editor6" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['insert',['link','picture','video']],['view',['fullscreen','codeview','help']]]"></textarea>

            <input id="existential" name="existential" type="text" class="form-control"><textarea id="editor7" name="editor7" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['insert',['link','picture','video']],['view',['fullscreen','codeview','help']]]"></textarea>

            <input id="Sum" name="Sum" type="text" class="form-control"><textarea id="editor8" name="editor8" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['insert',['link','picture','video']],['view',['fullscreen','codeview','help']]]"></textarea>

        </form>
    </div>
    <div class="col-3"></div>
</div>