<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appconnect="local" components="{dmxBootstrap5Collapse:{},dmxBrowser:{}}" title="Home Page" dmx-bind:title="'Home'" -->
<div is="dmx-browser" id="browser1"></div>
<main dir="rtl" lang="he" class="gx-0 gy-0">
    <div class="row">
        <div class="col-3"></div>
        <div class="col text-center"><img class="card-img-top img-fluid img-thumbnail gx-0 gy-0 w-50" alt="Card image cap" src="/assets/images/Nice.jpg"></div>
        <div class="col-3"></div>
    </div>


    <div class="row g-0 gx-0 gy-0">
        <div class="gx-0 gy-0 ms-3 me-3 col-md-3 d-none d-md-block col-lg-3 col-xl-3">

        </div>
        <div class="col col-md text-end">
            <div class="card gy-0 gx-0">

                <div class="card-body gx-0 gy-0 ms-xxl-0 me-xxl-4 ps-xxl-1 pe-xxl-5">
                    <h4 class="card-title text-center text-primary fw-lighter">מענה מקצועי, ומידי,</h4>

                    חמישים שנות וותק מאפשרים מתן טיפול <br>
                    <li>מתן אישורים לוועדות וכדומה</li>
                    <li>אבחנה והפנייה לגורם המתאם</li>
                    <li>התערבות טיפולית ומעקב</li>
                    <p class="card-text gx-0 gy-0"></p>
                    <div class="row justify-content-center g-0">
                        <div class="col-3 gx-0 gy-0"></div>
                        <div class="col align-self-end text-center gx-0 gy-0">
                            <a href="/register1" class="btn btn-outline-secondary" target="_blank" dmx-show="conn_who_am_i.data.current_user_identity&lt;1">להירשם&nbsp;</a>
                        </div>
                        <div class="col-3 gy-0 gx-0"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block col-lg-3 col-xl-3"></div>
    </div>
    <div class="row justify-content-between g-0 gy-0 gx-0 d-none d-sm-flex visually-hidden">
        <div class="gy-0 gx-0 ms-3 me-3 col-md-3 d-none d-md-block col-2 col-lg-3 col-xl-3">

        </div>
        <div class="col col-md">
            <div class="accordion" id="accordion1">
                <div class="card" dir="rtl">
                    <div class="card-header" id="accordion1_headingOne">
                        <h5 class="mb-0">
                            <button id="accordion1_collapseOne_Btn" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseOne" aria-expanded="true" aria-controls="collapseOne" dir="rtl">אישורים</button>
                        </h5>
                    </div>
                    <div id="accordion1_collapseOne" class="collapse" is="dmx-bs5-collapse" show="true" aria-labelledby="accordion1_headingOne" data-bs-parent="#accordion1">
                        <div class="card-body" dir="rtl">


                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="accordion1_headingTwo">
                        <h5 class="mb-0">
                            <button id="accordion1_collapseTwo_Btn" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseTwo" aria-expanded="false" aria-controls="collapseTwo">הפניות</button>
                        </h5>
                    </div>
                    <div id="accordion1_collapseTwo" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingTwo" data-bs-parent="#accordion1">
                        <div class="card-body" dir="rtl">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card" dir="rtl">
                    <div class="card-header" id="accordion1_headingThree">
                        <h5 class="mb-0">
                            <button id="accordion1_collapseThree_Btn" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree" dir="rtl">התעבויות, טיפוליות ומעקב</button>
                        </h5>
                    </div>
                    <div id="accordion1_collapseThree" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                        <div class="card-body" dir="rtl">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block col-2 col-lg-3 col-xl-3"></div>
    </div>
</main>
<meta name="ac:route" content="/">