<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appconnect="local" components="{dmxBootstrap5Collapse:{},dmxBrowser:{},dmxVideo:{}}" -->

<meta name="ac:route" content="/">
<meta content="/" dir="rtl" lang="he">
<div is="dmx-browser" id="browser1"></div>
<main dir="rtl" lang="he" class="gx-0 gy-0 text-primary fw-lighter">
    <div class="row">
        <video is="dmx-video" id="video1"></video>
        <div class="col-3"></div>
        <div class="col text-center"><img class="card-img-top img-fluid img-thumbnail gx-0 gy-0 w-50" alt="Card image cap" src="/assets/images/Nice.jpg"></div>
        <div class="col-3"></div>
    </div>


    <div class="row g-0 gx-0 gy-0">
        <div class="gx-0 gy-0 ms-3 me-3 col-md-3 d-none d-md-block col-lg-3 col-xl-3">

        </div>
        <div class="col col-md text-end">
            <div class="card gy-0 gx-0">

                <div class="card-body gx-0 gy-0 ms-xxl-0 me-xxl-4 ps-xxl-1 pe-xxl-5">
                    <h4 class="card-title text-center text-primary fw-lighter">מענה מקצועי, ומידי,</h4>

                    חמישים שנות וותק מאפשרים מתן טיפול <br>
                    <li>מתן אישורים לוועדות וכדומה</li>
                    <li>אבחנה והפנייה לגורם המתאם</li>
                    <li>התערבות טיפולית ומעקב</li>
                    <p class="card-text gx-0 gy-0"></p>
                    <div class="row justify-content-center g-0">
                        <div class="col-3 gx-0 gy-0"></div>
                        <div class="col align-self-end text-center gx-0 gy-0">
                            <a href="/register1" class="btn btn-outline-secondary" target="_blank" dmx-show="conn_who_am_i.data.current_user_identity&lt;1">להירשם&nbsp;</a>
                        </div>
                        <div class="col-3 gy-0 gx-0"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block col-lg-3 col-xl-3"></div>
    </div>
    <div class="row g-0 gx-0 gy-0">
        <div class="gx-0 gy-0 ms-3 me-3 col-md-3 d-none d-md-block col-lg-3 col-xl-3">

        </div>
        <div class="col col-md text-justify align-self-center">
            <div class="card">
                <div class="card-header"><b></b></div>
                <img class="card-img-top img-fluid img-thumbnail w-auto h-auto d-none d-md-inline" alt="Card image cap" src="/assets/images/onlinetherapy.jpg">
                <div class="card-body">
                    <h4 class="card-title fw-lighter text-primary">למה לשקול התערבות באינטרנט&nbsp;</h4>
                    <div dir="rtl">

                        <p>האינטרנט הפך לדרך חיים מקובלת וזכה לקבלה בתחומים רבים והפך אותם לחלוטין.</p>
                        <p>נערך מחקר רב על האינטרנט כדרך לתת טיפול, ומצאנו שהוא טוב כמו כל צורת טיפול אחרת. מצאנו גם שאנחנו יכולים להתאים את רבות מהטיפולים שאנחנו משתמשים בהם לאינטרנט.</p>
                        <p class="fw-lighter"><b>היתרונות:</b></p>
                        <ul dir="rtl">

                            <li>קל להעביר.</li>
                            <li>הוא לא מאבד כמעט מהיעילותו.</li>
                            <li>אנחנו יכולים להקטין את זמני ההמתנה ברשימת ההמתנה ולתת כמעט כניסה מיידית למערכת.</li>
                            <li>אנחנו יכולים להראות איך ליהנות מהסוגים החדשים של משלוח.</li>
                            <li>רבים מהמטופלים דיווחו לי שהם מוצאים את זה קל יותר לדבר עם סוג של אנונימיות שפני-אל-פנים לא מספקים. הם מוצאים את זה קל יותר להיות ספונטניים.</li>
                        </ul>
                        <p class="fw-lighter"><b>החסרונות:</b></p>
                        <ul dir="rtl">
                            <li>אנחנו צריכים לוודא שהאיכות של הקול והחזון טובה. עלינו לייעץ למטופל כיצד להגדיר את המכונות המעורב הטוב ביותר. התהליך אינו מורכב כלל, אך הוא גורם.</li>
                            <li>רבים מהמטופלים מדווחים לי על חוסר אינטימיות מסוים. הכוונה היא שקשה יותר לבנות את מערכת היחסים בין הרופא-מטופל ולזכות בכבוד ובאמונה של המטופל. אנחנו לא יותר מול בן אדם יודע, אבל מישהו על המסך כמו רבים אחרים.</li>
                        </ul>
                        <p>מהי החשיבות של פלוסים ומינוס? אתה צריך להחליט מה הכי טוב בשבילך. אם היתרונות עולים על החסרונות זה אישי ורק לך לבחור. אני אציע סמינרים על אופן השימוש הטוב ביותר באינטרנט והגבלת ציפיות, מה שחשוב לכל הטיפולים והתרופות. שום דבר אינו מושלם, ודבר אינו יכול להחזיר אותך בזמן.</p>
                        <p>אם תחליט להשתמש באתר, תקבל הוראות מלאות.</p>
                    </div>

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <a href="/register1" class="btn btn-outline-secondary" target="_blank" dmx-show="conn_who_am_i.data.current_user_identity&lt;1">להירשם&nbsp;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block col-lg-3 col-xl-3"></div>
    </div>
    <div class="row justify-content-between g-0 gy-0 gx-0 d-none d-sm-flex visually-hidden">
        <div class="gy-0 gx-0 ms-3 me-3 col-md-3 d-none d-md-block col-2 col-lg-3 col-xl-3">

        </div>
        <div class="col col-md">
            <h1>
                <small class="text-muted">With faded secondary text</small>Fancy display heading
            </h1>
        </div>
        <div class="col-md-3 d-none d-md-block col-2 col-lg-3 col-xl-3"></div>
    </div>
</main>