<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="joinmeeting" appConnect="local" -->
<div class="container mt-5 mb-5">
    <div class="row mt-5 mb-5">
        <div class="col text-center mt-5 mb-5">
            <a href="https://app.dyte.io/v2/meeting?id=bbb48b3e-d6c3-4c58-90e3-91d12100da9a&amp;authToken=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdJZCI6ImNhM2JlZGRhLWY4NDYtNDdmMy1iOTczLWNiYjAwNTk0NGQwYiIsIm1lZXRpbmdJZCI6ImJiYjQ4YjNlLWQ2YzMtNGM1OC05MGUzLTkxZDEyMTAwZGE5YSIsInBhcnRpY2lwYW50SWQiOiJhYWE3YzYxOC0wODA1LTQ4MTMtOWVlMy0wYmFmMzlkYzNmZDIiLCJwcmVzZXRJZCI6ImQ3OTZiMDc0LTQ3NzAtNDdkMC04ODU0LWFhMGQzZTJmMDhhZSIsImlhdCI6MTY5MDI2NzYyNSwiZXhwIjoxNjk4OTA3NjI1fQ.t11VKlgopJk7gfleGmpKvdjHUyqVwvxP-Sgmk9MNepFBzY-kD_UJcSdxh5UmkvKLbJGyJOS45Iuc03avjetjZhf4KN7mt0ov6K42PGIAQl57AQiQuoO9QrGNJIQF0QuDA1Y8M-eByq10kdwJsuu_OzG6SNVfo-XIcwQHyfXrvjGiM-YaKe6HVetDwyJ0vn3zR9pbBPSQk3kMepdj4TPQa1ZRfVTMwSq5vnH0Rx0eIvX5RAZG2qXjl_6Khx7rkS2ZDgGh0pSrBY6aJFHk5FuN11fnJRFR0lpcsaZceA6Il_6qmh-ldUsFz6e5h9A3dY8n29u7RDp2odh2NiRdjYd2JA" class="btn btn-primary mb-5" target="_blank">Join Meeting</a>
        </div>
    </div>
</div>
<meta name="ac:route" content="/joinmeeting">