<!-- Wappler include head-page="layouts/admin" bootstrap5="local" is="dmx-app" id="Letter" appConnect="local" fontawesome_5="cdn" -->
<meta name="ac:route" content="/Letter">

<p dir="rtl" class="fw-light">שלום<<>>,

        <br> ברוך הבא לגרסת mycybertherapy הישראלית.<br>&nbsp;האתר מוקדש לעזור לך בדרכים שונות שאתה יכול לבחור. <br>תמיד נתחיל עם ראיון. <br>כאשר אתה מדבר איתי באינטרנט, חשוב שתשב בחדר שלא חשוך מדי ויש אור מלפנים ומעלייך. <br>אני אקליט את הראיון, ואם תרצה, תוכל לקבל עותק.
        <br>&nbsp;אתה יכול ליצור איתי או עם אחרים קשר באמצעות יישום WhatsApp הייעודי לאתר זה.
        <br>&nbsp;<b><u>עלינו לשמור על כללי פרטיות מחמירים</u></b>. <br><i>אתה רשאי לשתף רק את שמך, את הדוא"ל שלך או כל סוג אחר של תקשורת איתי ועם אף אחד אחר. אם תבוא על אלה, אקנח את הקשר שלך עם האתר</i><br><br>.
        אני זמין באופן חופשי ב-WhatsApp; אתה יכול לכתוב לי באתר. <br><i>האתר אינו אמור להיות אתר חירום. <br></i>אני מבטיח לנסות לענות בתוך 24 שעות, אך זה לא תמיד אפשרי ואל תסמוך על זה. <br><i>אם אתה זקוק לגישה מיידית לפסיכיאטר שלך בכל עת, אני חושש שזה לא האתר בשבילך</i>.
        <br>&nbsp;לאחר שקראת את ההוראות, אנא המשך וקבע פגישה.

        &nbsp;אני יכול לעזור לך, אבל עלינו להגביל את הציפיות שלנו להיות בתחום המצי reality.<br><br>
</p>
<p class="text-center fw-lighter text-primary">&nbsp;בברכה,<br><i>ד"ר מיכאל בנימין</i></p>