<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="login" appconnect="local" dmx-bind:title="'Login'" -->
<meta name="ac:route" content="/login">
<div class="container"></div>
<div class="container">
    <form id="login1" is="dmx-serverconnect-form" method="post" action="/api/register/login" dmx-on:success="browser_global.goto('/')" dmx-on:unauthorized="notifies_global.warning('Login Failed')" dmx-on:error="notifies_global.danger('Server Error')">
        <div class="row">
            <div class="col d-none d-md-block"></div>
            <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-start">
                <div class="row">
                    <div class="col">
                        <h1>Log In</h1>
                        <p class="text-h3">Enter your details below.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <input type="text" id="inp_email" name="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <input type="password" id="inp_password" name="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button id="login1_submit" class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </div>
            <div class="col d-none d-md-block"></div>
        </div>
    </form>
</div>