<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="logout" appconnect="local" dmx-bind:title="'Logout'" -->
<meta name="ac:route" content="/logout">
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Are you sure you wish to logout</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center mt-5">
            <form id="form1" is="dmx-serverconnect-form" method="post" action="/api/register/logout" dmx-on:success="browser_global.goto('/')"><button id="btn1" class="btn fw-bold btn-outline-secondary" type="submit">Click here to Logout</button></form>

        </div>
    </div>
</div>