<!-- Wappler include head-page="layouts/main" is="dmx-app" id="meet" appConnect="local" fontawesome_5="cdn" bootstrap5="cdn" components="{dmxBootstrap5Modal:{},dmxFormatter:{}}" -->
<dmx-value id="varURL"></dmx-value>

<dmx-serverconnect id="conn_meeting" url="/api/register/validate_meeting" dmx-param:attuuid="query.attuuid" dmx-param:confuuid="query.confuuid" dmx-param:user_id="query.user_id" dmx-on:success="varURL.setValue(conn_meeting.data.ret_url+'?id='+conn_meeting.data.ret_id+'&amp;authToken='+conn_meeting.data.ret_token)"></dmx-serverconnect>



<div id="conditional_invalid" is="dmx-if" dmx-bind:condition="conn_meeting.data.query.isEmpty()">
    <div class="modal" id="modal-error" is="dmx-bs5-modal" tabindex="-1" role="dialog" show="true" nobackdrop="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center text-danger"><i class="fas fa-times-circle fa-6x"></i></p>
                    <h4 class="text-center fw-light">Invalid Meeting Link!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<meta name="ac:route" content="/meet/:confuuid/:attuuid/:user_id">
<div id="conditional_valid" is="dmx-if" dmx-bind:condition="!conn_meeting.data.query_token.isEmpty()">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Meeting</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#" class="btn btn-success w-100" dmx-bind:href="varURL.value">Join Meeting</a>
                <p dmx-bind:title="conn_meeting.data.query_opened.meeting_id">A nice paragraph</p>
                <p dmx-text="conn_meeting.data.query_token.token">A nice paragraph</p>
            </div>
        </div>
    </div>

</div>
<div id="conditional_notopen" is="dmx-if" dmx-bind:condition="conn_meeting.data.query_token.isEmpty()">
    <div class="modal" id="modalnotopen" is="dmx-bs5-modal" tabindex="-1" role="dialog" show="true" nobackdrop="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center text-danger"><i class="fas fa-hand-paper fa-10x"></i></p>
                    <h4 class="text-center fw-light">Meeting not yet Open</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>