<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" appconnect="local" components="{dmxBootstrap5Collapse:{}}" dir="rtl" title="Explanation Page" dmx-bind:title="'My CBT Explanation'" id="app" -->
<meta name="ac:route" content="/mycbtexplanation">
<div class="row text-end fw-lighter">
    <div class="d-none d-md-block col-md-2 col-2 col-xl-2 col-xxl-2 col-lg-2"></div>
    <div class="text-end text-md-end col-md-12 col-xl-12 col-xxl-12 col-12 col-lg-12 text-primary fw-lighter">
        <div class="card">
            <img class="card-img-top img-fluid img-thumbnail d-none d-md-inline align-self-center w-100 h-100" alt="Card image cap" src="/assets/images/AutomaticPilot.jpg">
            <div class="card-body">
                <h5 class="card-title">כל מה שאתם צריכים לדעת על טיפול מקוון-- מבוא לשימוש ב טופס טיפולי&nbsp;</h5>
                <p class="card-text fw-lighter">
                <h6>טיפול און ליין </h6>

                טיפול מקוון באתר זה מבוסס על ההנחה שניתן לגלות תכונות ונטיות מוסתרות ולתקן אותן כאשר אתה מודע למה שהן ומה האופן שבו הן לא הולמות.
                <br>

                אתה תיבחן על איך חשבת, פעלת ורגשת על ידי הצגת פרמטרים שונים ואז תתבקש לרשום את מה שלמדת.
                <br>

                המטרה אינה לרשום הכל, אלא רק את מה שלמדת.
                <br>

                כאשר תסיים זאת, תצבר סדרה של תשובות. תשים לב לדמיון ותתחיל לתקן אותם.
                <br>

                זה פשוט כמו שזה נשמע.
                </p>
                <h6>הטייס האוטומטי</h6>
                טייס האוטומטי הוא משהו שאתם לגמרי לא מודעים אליו.<br>
                רוב הזמן אתם לגמרי לא מודעים למה שאתם חושבים, מרגישים או עושים.<br>
                רוב זה אוטומטי. יש לכם טייס אוטומטי שלוקח אתכם ממקום למקום, עושה את רוב המחשבה שלכם, שולט ברגשות שלכם, ומתכנן איך אתם מגיבים.</p>
                יש הרבה סיבות לכך וגם למה זה טוב, אבל אנחנו לעתים קרובות צריכים לכוון מחדש את הטייס האוטומטי<br>.המטרה שלי ב-myCybertherapy היא לעשות בדיוק את זה.</p>
                <p class="card-text fw-lighter" dir="rtl">
                <h6 class>הכללים הבסיסיים של כל השינויים</h6>
                <ul dir="rtl">
                    <li>לא משנה מה תעשה וכמה שתשנה, תמיד תהיה נסיגה</li>
                    <li>לא משנה מה תעשה וכמה שתשנה, זה לא רלוונטי אם לא תשנה את סגנון החיים שלך ותתחיל לחיות חיים בריאים</li>
                </ul>

                <div class="row">
                    <div class="col"></div>
                    <div class="col"><a href="#" class="btn btn-primary btn-lg">תקשיב ותשתתף בסמינאר</a></div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col mt-5"><a href="/DIYCBT" class="btn btn-primary btn-lg" target="_blank">לגשת לטופס&nbsp;</a></div>
                    <div class="col"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="d-none d-md-block col-md-2 col-2 col-xl-2 offset-md-0 col-xxl-2 col-lg-2"></div>
</div>
<div class="row">
    <div class="d-none d-md-block col-md-2 col-lg-3 col-xl-2 col-xxl-2 col-2"></div>
    <div class="text-end offset-xl-1 col-md-12 col-xl-12 col-xxl-12 col-12 text-primary fw-lighter">
        <h3 class="text-center fw-lighter">הגדרות החשובות להכיר&nbsp;</h3>
        <div class="accordion" id="accordion1">
            <div class="card">
                <div class="card-header" id="accordion1_headingOne">
                    <h5 class="mb-0 display-1" title="שינה הכונה">
                        <button id="accordion1_collapseOne_Btn" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseOne" aria-expanded="true" aria-controls="collapseOne"><b>אירוע קריטי</b></button>
                    </h5>
                </div>
                <div id="accordion1_collapseOne" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingOne" data-bs-parent="#accordion1">
                    <div class="container">
                        <img src="/assets/images/CI.jpg" class="img-fluid img-thumbnail w-100 h-100 d-none d-md-inline">
                    </div>
                    <div class="card-body text-end" dir="rtl">
                        <h4 class="fw-light align-self-center">אירוע קריטי</h4>

                        <ul>
                            <li>מה עשיתם כאשר הגבתם בדרך שאתם רוצים לנתח ולשנות את התנהגותכם?</li>
                            <li>כתבו בשלוש או ארבע משפטים לכל היותר:
                                <ul>
                                    <li>מה עשיתם?</li>
                                    <li>מה התכוונתם לעשות?</li>
                                    <li>מה היו התוצאות המיידיות של מה שקרה?</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingTwo">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseTwo_Btn" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><b>מחשבות אוטומאטיות&nbsp;</b></button>
                    </h5>
                </div>
                <div id="accordion1_collapseTwo" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingTwo" data-bs-parent="#accordion1">
                    <div class="container"><img src="/assets/images/restart.jpg" class="img-fluid img-thumbnail rounded ms-3 me-3 align-self-sm-center ms-sm-auto me-sm-5 flex-xl-shrink-1 flex-xl-grow-1 h-100 d-none d-md-inline w-100"></div>
                    <div class="card-body">

                        <p dir="rtl">

                            חלק זה יבחן את ההיבטים היסודיים של טיפול קוגניטיבי-התנהגותי.
                            <br>

                            עליכם להבין שבחלק זה, כמו בכל חלק אחר, הדבר החשוב היחיד הוא מה שלמדתם על עצמכם.
                            <br><br>

                            בחלק זה, תבחנו את מחשבותיכם במהלך האירוע הקריטי. כמובן, כמו בכל חלק אחר, עליך להיות מודע מאוד למה שעשית באותו זמן; זו הסיבה שמדיטציות מודרכות הן כל כך חשובות. הן עוזרות לך להיזכר באירוע ובאיך חשבת ונתת דרכך באותה תקופה.
                            <br><br>

                            ראשית, שאל את עצמך מה חשבת על עצמך באותו רגע. לאחר מכן, שאל את עצמך מה אתה חושב על האדם השני המעורב.
                            <br><br>

                            עכשיו, שאל את עצמך מה אתה חושב על עצמך בדרך כלל. אל תהסס לרשום את זה לעצמך.
                            <br>

                            עשה את אותו הדבר לגבי האדם השני באירוע.
                            <br><br>

                            עכשיו יש לך רשימה מנטלית של ארבעה המפרטת מה חשבת על עצמך, מה חשבת על מה שאתה נוטה לחשוב על עצמך ועל מה שאתה נוטה לחשוב על אחרים.
                            <br>

                            עכשיו שאל את עצמך עד כמה המשפטים מדויקים. כמעט תמיד, הם לחלוטין לא מדויקים. הם מחשבות של הטייס האוטומטי.
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingThree">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree"><b>מערכת יחסים</b></button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="container"><img src="/assets/images/space.jpg" class="img-fluid img-thumbnail w-100 h-100 d-none d-md-inline"></div>
                    <div class="card-body">


                        <p dir="rtl">
                        <h6>יחסים</h6>

                        יחסינו לעתים קרובות מושרשים ומונחים לחלוטין על ידי הטייס האוטומטי שלנו.
                        <br>

                        בסעיף זה, בחנו את היחסים במהלך האירוע הקריטי.
                        <br><br>

                        כמו קודם, חיוני שתרשום רק את מה שלמדת על עצמך בסוף הסעיף.
                        <br>

                        בכל מערכת יחסים, ישנן שלוש אפשרויות לכל אדם במערכת יחסים זו. הם יכולים לתפוס את תפקיד ההורה, המבוגר או הילד. חשוב שתציין מי עושה מה ואם זה מתאים.
                        <br>
                        <br>
                        כאשר יחסים מתלכלכים, הם עוברים לאחת משלושת השלבים במחזור חוזר.

                        <br>
                        השלב הראשון הוא ההתקרבות: שם שתי הצדדים מסתדרים, הכל נראה טוב.

                        <br>
                        השלב השני הוא הפיצוץ הזה, שבו יש ויכוח או סכסוך אלים.

                        <br>
                        השלב השלישי הוא התרחקות לאחר המחלוקת.

                        <br>
                        המחזור חוזר על עצמו ללא הרף.

                        <br><br>
                        בסעיף הטיפול, תתבקש לספר מה למדת על עצמך כאשר אתה שוקל את כל אותם שאלות.

                        <br>
                        זה לא מסובך, זה פשוט דרך אחרת של חשיבה, ותתחל להבין כמה מורכבת מערכת היחסים שלך ומה עושה הטייס האוטומטי כדי להתמודד עם מצבים אלה.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingFour">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn1" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseFour" aria-expanded="false" aria-controls="collapseThree"><b>קשב וריכוז לזולת&nbsp;</b></button>
                    </h5>
                </div>
                <div id="accordion1_collapseFour" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="container">
                        <img class="d-none d-md-inline w-100 h-100" src="/assets/images/thoughts1.jpg">
                    </div>
                    <div class="card-body">
                        <p dir="rtl">

                        <h6> קשב ותשומת לב</h6>

                        בסעיף זה, כמו בכל האחרים, תקבל הסבר שיעזור לך למלא את הטופס, שהוא חלק מהטיפול המקוון.

                        <br>
                        כשהתקיים האירוע הקריטי, שאל את עצמך אם היית מקשיב לאדם.

                        <p>
                            תקשורת מאפשרת לנו להבין מה האחר רוצה ולקבל החלטה מה אנחנו רוצים לעשות.
                            <br>

                            הטייס האוטומטי רואה את תפקידו כמקטין כל סוג של חרדה. הוא עושה זאת על ידי ניטור כל השיחות וניסיון לפרש מה האדם השני חושב, כוונותיו, התוצאות האפשריות, מה מצופה ממך ואפשרויותיך.
                            <br>

                            בזמן שאתה עושה את כל זה, אתה כבר לא מקשיב לאדם מולך. אתה מקשיב לעצמך.

                            <br>
                            סגנון זה יגרום למעגל אכזרי של אי הבנות ומתח גובר.

                        <p>
                            שאל את עצמך בזמן האירוע הקריטי אם היית משתמש בתחבולות, כולם שהוזכרו לעיל, שעצרו אותך מלשים לב באמת לאדם מולך.
                            <br>

                            לאחר מכן, כשאתה נותן תשובה כנה, כתוב מה למדת על עצמך. כמו בכל הסעיפים, התשובות יצבורות, ותראה מגמות ומאפיינים.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingFive">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn2" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseFive" aria-expanded="false" aria-controls="collapseThree"><b>הרגשות&nbsp;</b></button>
                    </h5>
                </div>
                <div id="accordion1_collapseFive" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="container">
                        <img class="d-none d-md-inline w-100 h-100" src="/assets/images/problem.jpg">
                    </div>
                    <div class="card-body">
                        <p dir="rtl">

                        <h6>רגשות ותחושות</h6>

                        בסעיף זה, ננסה לעורר ולהבין מה קרה בזמן האירוע הקריטי.
                        <br>

                        הטייס האוטומטי מנסה להחליק את מסענו על ידי ביטול רגשות זרים. כאשר אתה נוטה לסבול מחרדה או דיכאון, הכחשה או דחקה היא הדבר הראשון שעומד על ההגנה.

                        <br>
                        למרבה הצער, על ידי דחיקת רגשותינו, איננו מסירים את הגורם. הם מצטברים, ובסופו של דבר, במקום שאתה תרגיש רגש, הרגש ישלוט בך, ותגיב אליו בחשש.

                        <br>
                        עם זאת, אנחנו צריכים לדעת מה אנחנו מרגישים, ואנחנו צריכים לגלות מחדש מהם רגשותינו. בדרך זו, תימנע מפיצוצים מיותרים ואובדן שליטה.

                        </p>
                        <p>
                            טכניקות ההרפיה-המדיטציה המודרכות מאפשרות לך להיזכר במה שקרה ומה הרגשת לפני שאבדת שליטה על רגשותיך, והם השתלטו. במילים אחרות, תתחיל להרגיש ולהיות מודע לרגשותיך הרבה לפני שתתרגל אליהם.
                            <br>

                            בתחילה, זה עשוי להיות מאוד לא נוח; תהיה סבלני ובתוך ימים, תהיה מודע יותר למה שאתה מרגיש ובשליטה עליו.

                            <br>
                            בסעיף זה, שוב, אתה שואל את עצמך מה הרגשת ואז כותב מה למדת על עצמך בטופס.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingSix">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn3" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseSix" aria-expanded="false" aria-controls="collapseThree"><b>קיומי</b></button>
                    </h5>
                </div>
                <div id="accordion1_collapseSix" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="container">
                        <img class="d-none d-md-inline w-100 h-100" src="/assets/images/different-ways_mkM3bz_SB_PM.jpg">
                    </div>
                    <div class="card-body">
                        <p dir="rtl">
                        <h6>היבטים קיומיים</h6>

                        אנחנו מגיעים לסוף פגישת הטיפול.
                        <br>

                        שאלת את עצמך שאלות וכתבת מה למדת על איך אתה חושב, מתנהג, ומרגיש.
                        <br>

                        תוכל להבחין שכל מה שלמדת לא היה קשור כלל לאירוע הקריטי. אתה שם לב לרבים מהתיקונים הלא נכונים שעשה הטייס האוטומטי.
                        <br>
                        <br>
                        כנראה שמת לב שאני לא מנסה להסביר למה זה קורה. אתה שם לב למה שאתה עושה ולומדת איך לתקן את זה.
                        <br>

                        בסעיף זה, לפני שכותב מה למדת על עצמך, שאל את עצמך מה היית עושה אחרת. דמיינך שאתה פסיכאפת; דמיינך שאתה אם תרזה; ולבסוף, דמיינך איך אתה יכול לגרום לאדם השני להרגיש. אני שואל את זה מכיוון שבניסיוני, הדרך הכי טובה להיות מאושר היא לעשות אחרים מאושרים, ולא להסתכל על איך להרגיש נוח בעצמך.

                        <br>
                        אבל זו בחירה שלך לעשות.
                        </p>
                        <p>
                            שאל את עצמך מה אתה רוצה לעשות ומתי זה מתאים - אם בכלל.
                            <br>

                            אתה עשית את כל זה; כתב מה למדת על עצמך.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingSeven">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn4" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseSeven" aria-expanded="false" aria-controls="collapseThree"><b>סיכום</b></button>
                    </h5>
                </div>
                <div id="accordion1_collapseSeven" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="container">
                        <img class="d-none d-md-inline w-100 h-100" src="/assets/images/myanswer.jpg">
                    </div>
                    <div class="card-body">
                        <p dir="rtl">
                        <h6>סיכום</h6>

                        <i> החלק הזה הוא החלק החשוב ביותר והיתרון של הטיפול המקוון.</i>

                        <br>
                        אתה יכול לזכור את כל התשובות שנתת בנחת על מה שלמדת על עצמך בכל מצב.

                        <br>
                        הזכירה היא הדרך האידיאלית ללמוד במהירות מה אתה עושה, מדוע זה לא הולם ומה שינויים תרצה לעשות.

                        <br>
                        אתה מתכנת מחדש את הטייס האוטומטי שלך. התוכנה מחדש לא אומרת שאתה לא תתפוגג או תשוב להרגלים ישנים ודרכים לעשות דברים.

                        <br>
                        זה כן אומר שאתה נוטה לפנות לעצמך עם תיקונים ארוכים יותר ויותר, והעוצמה של העבירה הקודמת שלך תקטן גם כן.

                        <br>
                        אבל תהיה כנה ותהיה נחמד לעצמך; אתה לא מכונה; אתה בן אדם ויכול לעשות טעויות.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-lg-2"></div>
            <div class="col-lg-12">
                <a href="#" class="btn btn-primary btn-lg">תשתתף בסמינאר&nbsp;</a>
            </div>
            <div class="col-3 col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <a href="/DIYCBT" class="btn btn-primary btn-lg mt-5" target="_blank">לגשת לטופס&nbsp;</a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="d-none d-md-block text-md-center col-lg-3 col-md-2 col-xl-2 col-xxl-2 offset-0 col-2" title="בריאות הנפש"></div>
</div><!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="mycbtexplanation" appConnect="local" -->