<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" appconnect="local" components="{dmxBootstrap5Collapse:{}}" dir="rtl" title="Explanation Page" dmx-bind:title="'My CBT Explanation'" id="app" -->
<meta name="ac:route" content="/mycbtexplanation">
<div class="row text-end fw-lighter">
    <div class="d-none d-md-block col-md-2 col-lg-3 col-xl-3 col-xxl-4"></div>
    <div class="text-end text-md-end col-md-auto">
        <div class="card">
            <img class="card-img-top img-fluid img-thumbnail w-75 h-75 d-none d-md-inline align-self-center" alt="Card image cap" src="/assets/images/AutomaticPilot.jpg">
            <div class="card-body">
                <h5 class="card-title">כל מה שאתם צריכים לדעת על טיפול מקוון</h5>
                <p class="card-text fw-lighter">
                <h6>הטייס האוטומטי</h6>
                טייס האוטומטי הוא משהו שאתם לגמרי לא מודעים אליו.<br>
                רוב הזמן אתם לגמרי לא מודעים למה שאתם חושבים, מרגישים או עושים.<br>
                רוב זה אוטומטי. יש לכם טייס אוטומטי שלוקח אתכם ממקום למקום, עושה את רוב המחשבה שלכם, שולט ברגשות שלכם, ומתכנן איך אתם מגיבים.</p>
                יש הרבה סיבות לכך וגם למה זה טוב, אבל אנחנו לעתים קרובות צריכים לכוון מחדש את הטייס האוטומטי<br>.המטרה שלי ב-myCybertherapy היא לעשות בדיוק את זה.</p>
                <p class="card-text fw-lighter" dir="rtl">
                <h6 class>הכללים הבסיסיים של כל השינויים</h6>
                <ul dir="rtl">
                    <li>לא משנה מה תעשה וכמה שתשנה, תמיד תהיה נסיגה</li>
                    <li>לא משנה מה תעשה וכמה שתשנה, זה לא רלוונטי אם לא תשנה את סגנון החיים שלך ותתחיל לחיות חיים בריאים</li>
                </ul>

                <div class="row">
                    <div class="col"></div>
                    <div class="col"><a href="#" class="btn btn-primary btn-lg">תקשיב ותשתתף בסמינאר</a></div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col mt-5"><a href="/DIYCBT" class="btn btn-primary btn-lg" target="_blank">לגשת לטופס&nbsp;</a></div>
                    <div class="col"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="d-none d-md-block offset-md-4 col-md-2 col-lg-3 col-xl-3 col-xxl-4"></div>
</div>
<div class="row">
    <div class="d-none d-md-block col-md-2 col-lg-3 col-xxl-4"></div>
    <div class="col text-end">
        <div class="accordion" id="accordion1">
            <div class="card">
                <div class="card-header" id="accordion1_headingOne">
                    <h5 class="mb-0 display-1" title="שינה הכונה">
                        <button id="accordion1_collapseOne_Btn" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseOne" aria-expanded="true" aria-controls="collapseOne">אירוע קריטי</button>
                    </h5>
                </div>
                <div id="accordion1_collapseOne" class="collapse" is="dmx-bs5-collapse" show="true" aria-labelledby="accordion1_headingOne" data-bs-parent="#accordion1">
                    <div class="card-body text-end" dir="rtl">
                        <h4 class="fw-light align-self-center">אירוע קריטי</h4>
                        <img src="/assets/images/CI.jpg" class="img-fluid img-thumbnail d-none d-md-inline h-50 w-50 align-self-baseline flex-grow-1 flex-shrink-1 me-5 ms-xl-0 me-xl-5">

                        <ul>
                            <li>מה עשיתם כאשר הגבתם בדרך שאתם רוצים לנתח ולשנות את התנהגותכם?</li>
                            <li>כתבו בשלוש או ארבע משפטים לכל היותר:
                                <ul>
                                    <li>מה עשיתם?</li>
                                    <li>מה התכוונתם לעשות?</li>
                                    <li>מה היו התוצאות המיידיות של מה שקרה?</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingTwo">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseTwo_Btn" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseTwo" aria-expanded="false" aria-controls="collapseTwo">מחשבות אוטומאטיות&nbsp;</button>
                    </h5>
                </div>
                <div id="accordion1_collapseTwo" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingTwo" data-bs-parent="#accordion1">
                    <div class="container"><img src="/assets/images/eating.jpg" class="img-fluid img-thumbnail rounded ms-3 me-3 align-self-sm-center ms-sm-auto me-sm-5"></div>
                    <div class="card-body">

                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingThree">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree">מערכת יחסים</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingThree1">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn1" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree">קשב וריכוז לזולת&nbsp;</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree1" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingThree2">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn2" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree">הרגשות&nbsp;</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree2" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingThree3">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn3" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree">קיומי</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree3" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="accordion1_headingThree4">
                    <h5 class="mb-0">
                        <button id="accordion1_collapseThree_Btn4" class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseThree" aria-expanded="false" aria-controls="collapseThree">סיכום</button>
                    </h5>
                </div>
                <div id="accordion1_collapseThree4" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingThree" data-bs-parent="#accordion1">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <a href="#" class="btn btn-primary btn-lg">תשתתף בסמינאר&nbsp;</a>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <a href="/DIYCBT" class="btn btn-primary btn-lg mt-5" target="_blank">לגשת לטופס&nbsp;</a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="d-none d-md-block col-md-3 text-md-center col-lg-3 col-xxl-4" title="בריאות הנפש"></div>
</div><!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="mycbtexplanation" appConnect="local" -->