<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="register1" appconnect="local" dir="rtl" title="Registraton Page" components="{dmxValidator:{},dmxBrowser:{},dmxNotifications:{}}" -->
<dmx-serverconnect id="conn_regcode" url="/api/register/regcode"></dmx-serverconnect>
<dmx-notifications id="notifies1" offset-x="75" offset-y="75"></dmx-notifications>
<div is="dmx-browser" id="browser1"></div>
<meta name="ac:route" content="/register1">
<header>
    <h1 class="text-center text-primary fw-lighter">הרשמה</h1>
    <div class="container text-center" dir="rtl">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form is="dmx-serverconnect-form" id="serverconnectform1" method="post" action="/api/register/register" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="serverconnectform1.reset();browser1.goto('/Test')">
                    <div class="form-group mb-3">
                        <input type="hidden" class="form-control" id="product_id" name="product_id" aria-describedby="input2_help" placeholder="Enter some text">
                        <input id="product_name" name="product_name" type="hidden" class="form-control" dmx-bind:value="conn_regcode.data.regcode">
                    </div>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_first_name" name="first_name" aria-describedby="inp_first_name_help" placeholder="שם פרטי" required="" data-msg-required="חובה">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_family_name" name="family_name" aria-describedby="inp_family_name_help" placeholder="שם משפחה" required="" data-msg-required="חובה">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inp_email" name="email" aria-describedby="inp_email_help" placeholder="אימייל" required="" data-msg-required="חובה" data-rule-email="">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-10 d-flex flex-row justify-content-between">
                            <input type="password" class="form-control ms-4" id="inp_password" name="password" aria-describedby="inp_password_help" placeholder="  סיסמה" required="" data-msg-required="חובה" minlength="8" data-msg-minlength="לפחות שמונה אותיות או מספרים">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-10 d-flex flex-row justify-content-between">
                            <input type="password" class="form-control ms-4" id="inp_password1" name="password1" aria-describedby="inp_password_help" placeholder="לאשר  סיסמה" required="" data-msg-required="חובה" data-rule-equalto="password" data-msg-equalto="לא דומה לסיסמתך">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-2 d-flex me-lg-4 pe-lg-3 ps-xl-3 pe-xl-5 justify-content-xxl-start flex-xxl-row ms-xxl-0">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="input1" name="input1">
                                <label class="form-check-label col-xxl offset-xxl-0 col-form-label-sm" for="input1" dir="rtl"><a href="/cou" target="_blank">נא לאשר קריאת וקבלת תנאי שירות</a></label>
                            </div>&nbsp;
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-2">&nbsp;<button type="submit" class="btn btn-light text-center fw-lighter text-primary btn-lg" dmx-bind:disabled="state.executing">ללחוץ להירשם<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button></div>
                        <div class="col-sm-10">

                        </div>
                    </div>

                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

</header>